.bg{
    text-align: center;
    
    
   ;
}
.bg1{
    text-align: center;
    
    background-color: white;
}
.b2{
    
    
    background-color: white;
}
.bg3{
    
    background-color: white;
    color: black
}
.bg4{
    background-color: gray;
}
.bg5{
    background-color: gray;
}
.bg6{
    
    background-color:white ;
}
.bg7{
   
    background-color:white ;
}
.bg8{
    
    background-color:white ;
}